<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基础模板页</title>
</head>
<body>
    <div style="width: 100%;border:1px solid #f00; ">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias culpa distinctio earum excepturi facere illo impedit, in ipsa laborum nemo quaerat quas quasi reprehenderit sit unde ut voluptas. In, quae!</p>
    </div>
    {% block main_content %}
    
    {% endblock %}
    <div style="width: 100%;border:1px solid #f00; ">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias culpa distinctio earum excepturi facere illo impedit, in ipsa laborum nemo quaerat quas quasi reprehenderit sit unde ut voluptas. In, quae!</p>
    </div>
</body>
</html>