<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django 模板语言-语法</title>
</head>
<body>
    <table border="1" cellpadding="5">
        <tr>
            <td></td>
            <td>变量：替换内容</td>
        </tr>
        <tr>
            <td>变量</td>
            <td>{{ title }}</td>
        </tr>
        <tr>
            <td>对象变量</td>
            <td>{{course.title}}</td>
        </tr>
        <tr>
            <td>列表变量</td>
            <td>{{ students.0 }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>