{% extends 'feedback/base.html' %}
{% block main_content %}
    <table class="table table-hover">
        <tr>
            <td>#</td>
            <td>主题</td>
            <td>分类</td>
            <td>状态</td>
            <td>资讯订阅</td>
            <td>发布时间</td>
            <td>操作</td>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.subject }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.subscription|yesno:'<span class ="label label-success">已定阅</span>,<span class ="label label-danger">未订阅</span>'|safe }}</td>
                <td>{{ item.posted_time }}</td>
                <td>
                    <a href=" {% url 'feedback:feedback_detail' fid=item.id %}" class="btn btn-sm btn-default"
                       title="浏览"><i class="fa fa-search"></i></a>
                    <a href="{% url 'feedback:feedback_edit' fid=item.id %}" class="btn btn-sm btn-default"
                       title="编辑"><i
                            class="fa fa-pencil"></i></a>
                    <a href="{% url 'feedback:feedback_delete' fid=item.id %}" class="btn btn-sm btn-default"
                       title="删除"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}